/*
    
    Inventive Mediaworks - 2014
    ----------------------------------------------------------------------------
    
    Style Index

    $1 - Typography & Colour
    $2 - Header and Navigation
    $3 - Structure
    $4 - Article

    $M - Miscellaneous
    $0 - Media Queries

*/
@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");
/*------------------------------------------------------------------------------
 $1 - Typography & Colour
------------------------------------------------------------------------------*/
body {
  background: white;
  font-family: "adelle-sans", sans-serif;
  font-size: 17.798px;
  font-weight: 300; }

p {
  color: black;
  line-height: 1.75em;
  margin: 1.5em 0; }

a {
  border-bottom: 1px solid #00ffc0;
  color: black; }
  a:hover {
    background-color: #00ffc0;
    color: white;
    text-decoration: none; }

hr {
  border-color: black; }

h1, h2, h3, h4, h5 {
  color: black;
  font-family: "adelle-sans", sans-serif;
  font-weight: 900;
  line-height: 1.25em;
  margin: 0;
  padding: 0; }

/*------------------------------------------------------------------------------
 $2 - Header and Navigation
------------------------------------------------------------------------------*/
header nav {
  background-color: black;
  font-family: "adelle-sans", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }
  header nav .navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    max-width: 750px;
    table-layout: auto;
    width: 100%; }
    @media screen and (max-width: 768px) {
      header nav .navbar-nav {
        text-align: center; } }
  header nav .navbar-nav > li {
    display: table-cell;
    font-size: 120%;
    float: none;
    text-align: center; }
    @media screen and (max-width: 768px) {
      header nav .navbar-nav > li {
        display: block; } }
    header nav .navbar-nav > li ul {
      display: none;
      list-style-type: none;
      padding: 0;
      position: absolute;
      left: 30%; }
      header nav .navbar-nav > li ul li {
        background: black;
        position: relative; }
        header nav .navbar-nav > li ul li a {
          display: inline-block;
          padding: 0.5em 1em; }
          header nav .navbar-nav > li ul li a:hover {
            text-decoration: none; }
    header nav .navbar-nav > li:hover ul {
      display: block; }
      @media screen and (max-width: 768px) {
        header nav .navbar-nav > li:hover ul {
          display: none; } }
      header nav .navbar-nav > li:hover ul li {
        float: left;
        border-left: 5px solid black;
        border-right: 5px solid black; }
        header nav .navbar-nav > li:hover ul li ul {
          display: none; }
        header nav .navbar-nav > li:hover ul li:hover ul {
          display: block;
          left: 80px;
          text-align: left;
          top: 0; }
    header nav .navbar-nav > li a {
      border-bottom: 1px solid #00ffc0;
      color: #00ffc0;
      display: inline-block; }
      header nav .navbar-nav > li a:hover {
        background: none;
        border-bottom: 1px solid white;
        color: white; }

#masthead {
  background: black;
  overflow: hidden;
  margin: 0 auto;
  padding: 150px 0 150px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    #masthead {
      padding: 100px 0; } }
  @media screen and (max-width: 550px) {
    #masthead {
      padding: 150px 0; } }

/*------------------------------------------------------------------------------
 $3 - Structure
------------------------------------------------------------------------------*/
.masthead-container {
  margin: 0 auto;
  max-width: 960px; }

.buffer {
  margin: 120px auto 0; }

#content-body {
  margin: 0 auto; }
  #content-body article {
    margin: 20px 0;
    color: black;
    max-width: 760px; }
    #content-body article h2 {
      font-size: 140%;
      margin: 0; }
    #content-body article a[rel="author"] {
      color: black;
      border-bottom: 1px solid #00ffc0; }
      #content-body article a[rel="author"]:hover {
        background: #00ffc0;
        color: white; }
    #content-body article blockquote {
      border: none;
      font-size: 150%;
      font-style: italic;
      font-weight: 300;
      margin: 0 0 0.75em; }
      #content-body article blockquote p {
        line-height: 1.25em; }
    #content-body article a h2 {
      display: inline; }
      #content-body article a h2:hover {
        background: #00ffc0;
        color: white; }
    @media screen and (max-width: 768px) {
      #content-body article .row {
        padding: 0; } }
    #content-body article .col-sm-8 p {
      margin: 0; }
    @media screen and (max-width: 768px) {
      #content-body article .col-sm-8 {
        padding: 0; } }
    #content-body article .col-sm-4 {
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      #content-body article .col-sm-4:hover {
        opacity: 0.65; }
      @media screen and (max-width: 550px) {
        #content-body article .col-sm-4 {
          display: none; } }
    @media screen and (max-width: 950px) {
      #content-body article img {
        height: auto;
        width: 100%; } }

#super a h2 {
  display: inline-block; }
  #super a h2:hover {
    background: #00ffc0;
    color: white; }

#main-content {
  background-color: white;
  position: relative;
  top: 650px;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    #main-content {
      top: 400px; } }

#featured h2 {
  color: #00ffc0;
  text-align: center; }
@media screen and (max-width: 950px) {
  #featured .caroufredsel_wrapper {
    overflow-x: scroll !important; } }
@media screen and (max-width: 950px) {
  #featured #carousel {
    height: 400px;
    left: 0 !important;
    width: 1280px !important; }
    #featured #carousel li {
      opacity: 1 !important; } }
#featured .list_carousel {
  overflow: hidden;
  z-index: 3; }
  #featured .list_carousel ul {
    display: block;
    margin: 0;
    padding: 0; }
    #featured .list_carousel ul li {
      display: inline-block;
      float: left;
      padding: 0;
      position: relative; }
      @media screen and (max-width: 950px) {
        #featured .list_carousel ul li {
          height: 380px !important;
          width: 320px !important; } }
      #featured .list_carousel ul li a {
        text-decoration: none; }
      #featured .list_carousel ul li img {
        display: block;
        float: left;
        min-width: 960px;
        height: 570px;
        overflow: hidden;
        width: 100%; }
        @media screen and (max-width: 950px) {
          #featured .list_carousel ul li img {
            max-width: 320px;
            min-width: 200px;
            height: auto; } }
  #featured .list_carousel .meta {
    background-color: black;
    bottom: 0;
    color: #00ffc0;
    max-width: 960px;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    width: 100%; }
    @media screen and (max-width: 950px) {
      #featured .list_carousel .meta {
        min-height: 195px;
        max-width: 320px; } }
    #featured .list_carousel .meta h3 {
      color: #00ffc0;
      text-align: center; }
    #featured .list_carousel .meta p {
      color: #00ffc0;
      margin: 0 auto;
      text-align: center; }
  #featured .list_carousel #controller {
    position: relative;
    top: -570px; }
    #featured .list_carousel #controller .prev, #featured .list_carousel #controller .next {
      display: block;
      height: 570px;
      position: absolute;
      width: 50%; }
    #featured .list_carousel #controller .prev {
      background: url("../images/slider-prev.png") no-repeat;
      background-position: right 50%;
      float: left;
      left: -480px; }
    #featured .list_carousel #controller .next {
      background: url("../images/slider-next.png") no-repeat;
      background-position: left 50%;
      float: right;
      right: -480px; }

#super {
  margin: 50px auto 30px; }
  #super .super-img {
    max-height: 260px;
    overflow: hidden;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
    #super .super-img:hover {
      opacity: 0.65; }
    #super .super-img img {
      display: block;
      height: auto;
      width: 100% !important; }

.lg-container {
  max-width: 960px;
  padding: 0 15px; }

.md-container {
  margin: 0 auto;
  max-width: 720px; }
  @media screen and (max-width: 768px) {
    .md-container {
      padding: 0 20px; } }

#articles {
  padding: 20px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    #articles {
      padding: 10px 30px; } }

#grid-bucket {
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden;
  padding: 0 15px; }
  #grid-bucket .col-super {
    float: left;
    max-width: 440px;
    position: relative; }
    @media screen and (max-width: 950px) {
      #grid-bucket .col-super {
        padding-top: 20px;
        max-width: 100%;
        width: 100%; } }
    #grid-bucket .col-super img {
      height: 300px;
      width: 100%;
      -webkit-transition: all 0.25s linear;
      -moz-transition: all 0.25s linear;
      -o-transition: all 0.25s linear;
      transition: all 0.25s linear; }
      #grid-bucket .col-super img:hover {
        opacity: 0.65; }
      @media screen and (max-width: 950px) {
        #grid-bucket .col-super img {
          height: auto; } }
  #grid-bucket .col-grid {
    float: right;
    max-width: 470px; }
    @media screen and (max-width: 950px) {
      #grid-bucket .col-grid {
        max-width: 100%; } }
    #grid-bucket .col-grid .col-cell {
      display: inline-block;
      float: right;
      margin-bottom: 10px;
      max-height: 145px;
      overflow: hidden;
      padding: 0 10px 10px 0;
      position: relative;
      max-width: 50%; }
      @media screen and (max-width: 950px) {
        #grid-bucket .col-grid .col-cell {
          padding-top: 20px;
          max-width: 25%; } }
      @media screen and (max-width: 550px) {
        #grid-bucket .col-grid .col-cell {
          max-width: 100%;
          width: 100%;
          margin: 10px 0;
          padding: 0; } }
      #grid-bucket .col-grid .col-cell img {
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        position: relative;
        width: 100%;
        height: auto; }
        #grid-bucket .col-grid .col-cell img:hover {
          opacity: 0.65; }
  #grid-bucket .meta {
    background: black;
    bottom: 10px;
    color: #00ffc0;
    left: 0;
    max-width: 80%;
    padding: 0.5em 1em;
    position: absolute;
    z-index: 2; }

h1.title {
  border-bottom: 2px solid black;
  text-align: center; }

.post-author {
  border-bottom: 1px solid white;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px 0; }

.user-profile {
  clear: left; }
  .user-profile .user-dp {
    float: left;
    margin-right: 20px; }
    .user-profile .user-dp img {
      border-radius: 50%; }
  .user-profile .user-meta {
    float: left;
    max-width: 600px; }
    .user-profile .user-meta h3 {
      font-size: 1.8rem; }
      .user-profile .user-meta h3 a {
        color: black;
        border-bottom: 1px solid #00ffc0; }
        .user-profile .user-meta h3 a:hover {
          background: #00ffc0;
          color: white;
          text-decoration: none; }
    .user-profile .user-meta ul {
      font-size: 0.9em;
      list-style-type: none;
      padding: 0; }
      .user-profile .user-meta ul li {
        float: left;
        margin: 0.25em 1em 0 0; }
        .user-profile .user-meta ul li a {
          border-bottom: 1px solid black;
          color: black; }
          .user-profile .user-meta ul li a:hover {
            background-color: white;
            color: #00ffc0;
            text-decoration: none; }
    .user-profile .user-meta .user-bio p {
      margin: 0.5em 0; }

#short-user-profile {
  overflow: hidden;
  margin: 30px 0;
  padding: 10px 0; }
  #short-user-profile .user-dp {
    float: left;
    margin-right: 20px; }
    #short-user-profile .user-dp img {
      border-radius: 50%; }
  #short-user-profile .user-meta {
    float: left;
    max-width: 580px; }
  #short-user-profile .user-bio p {
    font-size: 90%;
    margin: 0; }

#user-articles {
  float: right;
  max-width: 605px;
  margin: 20px 0; }
  #user-articles .col-md-3 {
    padding: 0; }
  #user-articles .meta-date {
    font-size: 0.9em;
    margin-bottom: 1em; }
  #user-articles h3 {
    margin: 0; }

#authorlist ul {
  list-style-type: none; }
  #authorlist ul li {
    border-bottom: 1px solid white;
    overflow: hidden; }
    #authorlist ul li a {
      color: black; }
      #authorlist ul li a:hover {
        background: white;
        color: #00ffc0; }
#authorlist .photo {
  width: 40px;
  height: 40px;
  float: left; }
#authorlist .authname {
  margin: 20px 0 0 10px;
  float: left; }

#events .event-entry {
  margin-bottom: 20px;
  position: relative; }
  #events .event-entry .post-image {
    float: left;
    margin-right: 20px;
    width: 190px;
    overflow: hidden;
    position: relative; }
    #events .event-entry .post-image img {
      height: 135px;
      left: 0;
      width: 100%; }
    #events .event-entry .post-image .image-hover {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3; }
      #events .event-entry .post-image .image-hover:hover {
        background: rgba(0, 0, 0, 0.25); }
  #events .event-entry h3 {
    margin: 0; }
    #events .event-entry h3 a {
      color: black;
      border-bottom: 2px solid #00ffc0; }
      #events .event-entry h3 a:hover {
        background: #00ffc0;
        color: white;
        text-decoration: none; }
  #events .event-entry .date-range {
    margin: 0; }
  #events .event-entry time {
    display: inline-block;
    font-size: 90%;
    font-weight: 600;
    left: -7em;
    top: -0.75em;
    padding: 0.5em;
    position: absolute;
    width: 20em; }
  #events .event-entry .venue {
    font-size: 90%; }

.img-responsive {
  height: auto;
  width: 100%; }

address {
  margin-bottom: 0; }

.author-footer {
  border-top: 5px solid black;
  margin-top: 5em;
  padding: 35px 0; }
  .author-footer h3 {
    text-align: center; }

/*------------------------------------------------------------------------------
 $4 - Article
------------------------------------------------------------------------------*/
#post-content {
  padding-top: 80px;
  color: black;
  margin: 10px 0; }
  #post-content h1 {
    font-size: 3em;
    margin: 0; }
  #post-content h2 {
    font-size: 3.5rem;
    font-weight: 600;
    margin: 1.25em 0 0.5em; }
  #post-content h3 {
    color: #ff3200;
    font-size: 1.75rem;
    margin: 2em 0 1em;
    text-transform: uppercase; }
  #post-content blockquote {
    border-color: #00ffc0;
    font-style: italic;
    font-size: 135%; }
  #post-content address.author {
    color: black;
    font-size: 90%; }
  #post-content .handler {
    font-size: 90%; }
  #post-content .lead {
    font-size: 140%;
    line-height: 1.5em; }
  #post-content .caption {
    font-size: 0.8em; }
  @media screen and (max-width: 768px) {
    #post-content {
      border-bottom: 1px solid black; }
      #post-content:last-child {
        border-bottom: none; } }
  #post-content .entry-header {
    text-align: center; }

/*------------------------------------------------------------------------------
 $5 - Footer
------------------------------------------------------------------------------*/
footer {
  color: black;
  padding: 20px 0;
  max-width: 720px;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    footer {
      font-size: 85%;
      padding: 20px; } }

/*------------------------------------------------------------------------------
 $M - Miscellaneous
------------------------------------------------------------------------------*/
.sd-content {
  margin: 20px 0; }
  .sd-content ul {
    overflow: hidden;
    margin: 0;
    padding: 0; }
    .sd-content ul li {
      display: inline-block;
      margin: 0 5px;
      overflow: hidden; }
      .sd-content ul li a {
        border-bottom: none;
        display: inline-block;
        height: 32px;
        opacity: 0.75;
        position: relative;
        text-indent: -9999px;
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        transform: rotate(0);
        width: 32px;
        -webkit-transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -o-transition: all 0.25s linear;
        transition: all 0.25s linear; }
        .sd-content ul li a:hover {
          background-color: transparent;
          opacity: 1; }
        .sd-content ul li a.sd-button {
          background-size: contain;
          background-repeat: no-repeat; }

li.share-pinterest a.sd-button {
  background-image: url("../images/socialmedia/pinterest@2x.png"); }

li.share-facebook a.sd-button {
  background-image: url("../images/socialmedia/facebook@2x.png"); }

li.share-twitter a.sd-button {
  background-image: url("../images/socialmedia/twitter@2x.png"); }

.download-edition {
  font-family: "adelle-sans", sans-serif;
  font-size: 1.6em !important; }
  .download-edition a {
    color: #00ffc0;
    border-bottom: none;
    display: inline-block;
    padding: 0.1em 0.25em; }
    .download-edition a:hover {
      color: white;
      background: #00ffc0; }
    .download-edition a .glyphicon {
      top: 4px; }

.edition {
  font-family: "adelle-sans", sans-serif;
  font-size: 1.6em !important;
  color: #00ffc0;
  border-bottom: none;
  padding: 0.1em 0.25em;
  text-transform: capitalize; }

.scrollToTop {
  background-color: #00ffc0;
  background-image: url("../images/scroll-top@2x.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 50%;
  bottom: 20px;
  border: none;
  color: #00ffc0;
  display: none;
  height: 50px;
  opacity: 0.3;
  padding: 5px;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 3;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear; }
  .scrollToTop:hover {
    opacity: 1;
    -moz-transform: scale(1.15); }

.navbar-toggle .icon-bar {
  background: #00ffc0;
  height: 5px;
  width: 30px; }

.footer-right {
  float: right; }

.spacer {
  padding: 50px 0; }

.clearfix {
  clear: both; }
